.navlink{
       margin: 20px;
}
body{
       height: 100vh;
       width: 100vw;
       margin: 0;
       padding: 0;
      overflow-x: hidden;
}
.joke{
       margin: 0;
       padding: 0;
       font-size: 30px;
       
}
.joke-width{
       width: 600px;
}
.jokeButton{
       
              background-color: red; /* Green */
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              width: 270px;
              height: auto;
           
}

.mapboxgl-canary {
       display: none !important;
     }
     
     .input-form{
       /* display: inline; */
       
     }
     .input-form:focus{
       outline: none;
     }

